<!DOCTYPE html>
<html>
	<%- include('global/head', {title: "Transfer Market!"}); %>
	<body  ng-app="SearchApp" class="ng-cloak">
        <%- include('global/header'); %>
        <div ng-view></div>
        <%- include('global/footer'); %>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <script type="text/javascript" src="/javascripts/search.js"></script>
    </body>
</html>