<section>
    <div class = "index-background">
        <div class="jumbotron text-center">
            <h1>!!!</h1>
            <p>Finish your work today!</p>
            <form class="form-inline" action="/search" method="get">
                <div class="input-group">
                    <input type="text" name="name" class="form-control" size="50" placeholder="Search by player name.">
                    <div class="input-group-btn">
                    <button type="submit" class="btn">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>