<h1>Edit player</h1>
<form ng-submit="save()">
	<div class="form-group">
		<div class="thumbnail">
			<img ng-src="/images/{{player.image}}" alt={{player.name}}> 
			Select an image:
			<input type="file" id = "file" name="image">
		</div>
	</div>
	<div class="form-group">
		<label>Name</label>
		<input class="form-control" ng-model="player.name"></input>
	</div>
	<div class="form-group">
		<label>Age</label>
		<input class="form-control" ng-model="player.age"></input>
	</div>
	<div class="form-group">
		<label>Height</label>
		<input class="form-control" ng-model="player.height"></input>
	</div>
	<div class="form-group">
		<label>Market_value</label>
		<input class="form-control" ng-model="player.market_value"></input>
	</div>
	<div class="form-group">
		<label>Shelf</label>
		<select class="selectpicker" ng-model="player.shelf" required>
			<option value="false">Take Off</option>
			<option value="true" >Put On</option>
		</select>
	</div>
	<button class="btn btn-primary">Save</button>
</form>